@import "materialize";
@import "variables";

.modal {
  .modal-content {

    * {
      color: $primaryBlack;
    }

    .input-field {
      input {
        color: $primaryBlack;
      }

      label {
        color: $primaryBlack;
      }

      .helper-text {
        color: $primaryBlack;
      }
    }

    .heroku-apps {
      .heroku-app {
        height: auto;
        min-height: 50px;
        display: flex;
        justify-content: space-between;
        @extend .grey, .lighten-5;

        &:hover {
          @extend .lighten-3;
        }

        .title {
          span {
            font-weight: 500;
          }
        }

        .details {
          max-width: 150px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          span {
            font-weight: 300;
            font-size: 12px;
          }
        }
      }
    }
  }
}