@import "materialize";
@import "variables";

.modal {
  .modal-content {
    h1, h2, h3, h4, h5, h6, p {
      color: $primaryBlack;
    }

    .input-field {
      input {
        color: $primaryBlack;
      }

      label {
        color: $primaryBlack;
      }

      .helper-text {
        color: $primaryBlack;
      }
    }
  }
}