@import "materialize";
@import "variables";

.apps-list-container {
  .row {
    margin: 10px auto;

    .header {
      background-color: $primaryBlack;
      height: 60px;
      padding-right: 30px;
      display: flex;
      justify-content: flex-end;
    }
  }

  .empty-state {
    margin: 30px auto;

    span {
      font-size: 20px;
      display: block;
    }
  }

  .app-list {
    background-color: $primaryBlack;

    .app-container {
      height: 50px;

      &:not(:last-child) {
        border-bottom: 1px solid #525252;
      }

      .app {
        display: flex;
        justify-content: space-between;

        .title {
          span {
            font-weight: 300;
          }
        }

        .details {
          display: flex;
          align-items: center;

          span {
            font-weight: 300;
            font-size: 14px;
          }
        }
      }
    }
  }
}
