@import "materialize";
@import "variables";
@import "inputs";

* {
  font-family: 'Lato';
}

html, body {
  background-color: $primaryBlack;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.full-width {
  width: 100%;
}